* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #777777;
    box-sizing: border-box;
}

/*Navigation Bar Syling*/
nav {
    width: 100%;
    height: 75px;
    background-color: #364c68;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: sticky;
    top: 0;
    z-index: 1;
    border: 3px solid #0e0d0d;
    padding: 10px 10px;
    box-sizing: border-box;
}

/*Logo to styling*/
.logo {
    font-size: 25px;
    font-family: cursive;
    background-color: #97adc9;
    border: 3px solid #0e0d0d;
    border-radius: 20px;
}

/*Menu on header styling*/
.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

/*Menu header list styling*/
.menu li {

    padding: 5px 10px;
}

/*Menu header text styling*/
.menu li a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 5px 10px;
}

/*Menu header text hover*/
.menu li a:hover {
    color: #ccc;
}

/*Menu header text active*/
.menu li.active {
    background-color: #97adc9;
}

/*Top right paragraph*/
.lang p {

    position: fixed;
    right: 10px;
    top: 5px;
    font-size: 12px;
}

/*Top right paragraph and icone*/
.lang2 {
    position: sticky;
    right: 10px;
    top: 60px;
    font-size: 12px;
}


/*Search price min to max*/


/*-------------start coding for main body----------*/
/*Search below the logo section styling*/
.container_1 {
    height: 10%;
    width: 100%;
    background-color: #97adc9;
    position: sticky;
    z-index: 95;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 4px solid black;

}

/*Styling input fields*/
.search input,
.price1 input,
.price2 input,
.beds input,
.baths input {
    width: 80%;
    color: white;
    background-color: #364c68;
    padding: 5px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 10px;
}

/*Styling input and lables*/
input,
label {
    display: block;
    font-family: cursive;
    color: white;
    font-size: 20px;
}

/*Styling text in textfields*/
input::placeholder {
    color: whitesmoke;
}

/*Form flexbox*/
#contact-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
}

/*Send button styling*/
.button {
    font-family: cursive;
    background-color: #364c68;
    border: none;
    color: white;
    border: 3px solid black;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
}

/*Advanced search styling section*/
.advanced_search p {
    font-size: 10px;
}

/*Homes and pictures styling*/
img {

    width: 200px;
    height: 200px;
    float: left;
    border: 5px solid white;
}

/*Styling the text next the image*/
.text p {
    font-size: 14px;
    color: #e0faef;
    font-family: cursive;
}

/*Styling the image and text box*/
.prop1 {
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 10px;
    border: 3px solid black;
    width: 80%;
    position: sticky;
    z-index: 85;
    font-size: 15px;
}

/*Styling the image and text box*/
.prop2 {
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 10px;
    border: 3px solid black;
    width: 80%;
    position: sticky;
    z-index: 80;
    font-size: 15px;

}

/*Styling the image and text box*/
.prop3 {
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 10px;
    border: 3px solid black;
    width: 80%;
    position: sticky;
    z-index: 75;
    font-size: 15px;

}

/*Styling the image and text box*/
.prop4 {
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 10px;
    border: 3px solid black;
    width: 80%;
    position: sticky;
    z-index: 70;
    font-size: 15px;

}

/*Styling the image and text box*/
.prop5 {
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 10px;
    border: 3px solid black;
    width: 80%;
    position: sticky;
    z-index: 65;
    font-size: 15px;
}

.content {
    display: flex;
    height: 90vh;
}

/*Container of the properties */
.container_prop {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    overflow-y: scroll;
    background-color: #97adc9;

}

/*-----------Map area-------------*/
/*Map section styling*/
.map_area {
    width: 100%;
}

/*Styling map iframe*/
iframe {
    width: 100%;
    height: 900px;

}